Options -Indexes
ErrorDocument 404 /sdgo/search_v2?404
RewriteEngine on
RewriteBase /sdgo/
RewriteCond %{THE_REQUEST} ^[A-Z]+\s.+\.php.*
RewriteRule ^(.*)\.php$ $1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^sitemap\.xml$ sitemap.php
RewriteRule api search_v2
DirectoryIndex search_v2.php
Header add Access-Control-Allow-Origin "*"